# File di configurazione sensibili (es. chiavi API, variabili d'ambiente)
.env

# File Python generati
__pycache__/
*.py[cod]

# File di log
*.log
output.html

# File di database
*.db

# File dei modelli salvati
*.h5
*.pkl

# Cartelle temporanee o di tuning
lstm_tuning/

# File di testo generici
*.txt

# Visualizzazioni generate automaticamente
visualizations/
*.png
*.jpg
*.jpeg
*.pdf

# File di dati temporanei
logs/
*.csv
*.json
orders_status.json
